.slider__btn {
  position: absolute;
  bottom: 166px;
  right: 150px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  background-image: url("../img/button.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}
